  .services {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
  
  
  .services {
    padding-top: 0px;
  }
  
  .services__title {
    margin-bottom: 50px;
  }
  
  .services__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
 
  .services__item {
    flex-basis: calc((100% - 30px * 3) / 3);
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .services__thumb {
   position: relative;
  }
  
  .services__thumb::before {
    display: inline-block;
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    opacity: 1;
  }
  
  .services__content {
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  
  .services__name {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $second-text-accent-color;
  }