.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $second-border-color;
}


/* section titles */
.section-title {
    color: $title-text-color;
  
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.67;
    }
}
  
/* section titles hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
/* SECTIONS AND CONTAINERS */
  
.section {
    
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    // background-color: lawngreen;
    
    @media screen and (min-width: 480px) {
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
        // background-color: lightcoral;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        // background-color: blue;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        // background-color: chocolate;
    }
        
}  

/* button */
.btn {
    border-style: none;
    margin: 0;
    border-radius: 4px;
    font-size: 200px;
}