

body {
    background-color: $body-background-color;
    color: $primary-text-color;
    font-family: $font-main;
    font-weight: 500;
    letter-spacing: 0.03em;
    
}
img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

  
h2,
h3 {
    margin-top: 0;
}
  
