$main-background-color: #e5e5e5;
$body-background-color: #ffffff;
$second-background-color: #2f303a;
$accent-background-color: #f5f4fa;
$background-color-socials: rgba(255, 255, 255, 0.1);
$overlay-background-color: rgba(33, 150, 243, .9);
$current-link-hover: rgba(33, 150, 243, 1);

$border-color: #eeeeee;
$second-border-color: #AFB1B8;
$header-border-color: #ececec;
$shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$main-logo-color: #000000;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;
$second-text-accent-color: #ffffff;
$footer-contacts-color: rgba(255, 255, 255, .6);

$font-main: "Roboto", sans-serif;
$font-second: "Raleway";




